*{
    margin:0;
    box-sizing: border-box;
}
body{

    background: #E5E5E5;
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}
h1{ font-size: 1em;}
h2{ font-size: 1.8em;}
h3{ font-size: 1em;}
p{ font-size: 3em;}

.header img{
  border-top: 10px;
}
button{
    background-color:  #D8DFE8;
    font-size: 1.3em;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid #0A3871;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color:#0A3871;
    margin: 10px 10px;
}
button:hover{
    background: #abadb0;
}


.container{
    width: 90%;
    min-height: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
}

header .logo{
     color: #0A3871;
     margin: 0%;
     padding: 25px 30px;
}

.input{
   
    background: #E5E5E5;
    font-weight: 400;
    font-size: 32px;
    
    border: none;
}
.input:focus {
    outline: none !important;
    border:0px solid white;
    box-shadow: 0 0 10px #719ECE;
    }
.input::placeholder{
    color: #0A3871;
}

.boton-encriptar{
    background-color: #0A3871;
    color: #D8DFE8;
}


#texto{

    background-color: #D8DFE8;
    border-radius: 30px;
  
}

.muneco{
  width: 200px;
}
#container__mensaje_encriptado{
    display: none;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.boton-copiar{

}
footer{
  
    text-align: center;
    background-color: #0A3871;
    margin: 0;
    padding: 10px 20px;
}
footer .redes{
    align-items: center;
}

footer img{
    width: 40px;
    height: 40px;
}

footer li{
    display: inline-block;
   margin: 0;
}
